<div id="dashboard_call_history">
  <%= render "sipgate_connector/easy_page_modules/sipgate_call_history_rows", current_entries: SipgateCallHistory.where(user_id: User.current.id).limit(15) %>
</div>
