<span>Anzeige:</span>&nbsp;<%= select_tag :per_page, options_for_select([5,10,15,20,25,50], selected: sipgate_per_page), id: "sipgate_per_page" %>

<% (1..sipgate_pages_count).to_a.uniq.each do |i| %>
  <span class="sipgate-page-nr" data-sipgate-page-nr="<%= i %>"><%= i %></span>
<% end %>

<script type="text/javascript">
  sipgate_data_url = "<%= sipgate_data_path %>"
  $(document).ready(function(){
    $("#sipgate_per_page").change(function(){
      $.get(
        sipgate_data_url,
        {per_page: $(this).val() }
      )
    })
  })
  
  setInterval(function(){ $.get(sipgate_data_url) }, 30000);
  
</script>