.sipgate-phone-container { position: relative;}
.sipgate-phone-container, .sipgate-phone-container * { display: inline-block; }
.device-list { position: relative; display: none; }
.device-list a { white-space: nowrap;}


.sipgate-phone-container:hover .device-list { display: block; left: 0px; top: 0px;}